@model WebParqueadero.Models.TipoVehiculos
@using (Html.BeginForm("Create", "TipoVehiculos", new { Id_Paq = ViewBag.Id_Paq },FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="idCrearTipoVehiculo" tabindex="-1" role="dialog" aria-labelledby="CrearTipoVehiculoLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="CrearTipoVehiculoLabel">CREAR TIPO DE VEHICULO</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 col-lg-12 my-lg-1">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-horizontal">
                                    <div id="idEditar">
                                        @Html.AntiForgeryToken()
                                        @Html.Partial("_TipoVehiculoViewPartial", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-lg btn-outline-danger" data-dismiss="modal">
                        <i class="fas fa-times"></i>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-lg btn-outline-secondary" onclick="CrearTipoVehiculoCargando()" id="idCrearTipoVehiculoCargandobtn">
                        <i class="fas fa-plus"></i>
                        Crear
                    </button>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
