<div class="alert alert-danger alert-dismissible fade" role="alert" id="idShowMensajeError">
    <div id="IdMensajeError"></div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

